@font-face {
  font-family: "DinCondensedBold";
  src: url("../../public/assets/DINCondensedBold.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DinCondensedLight";
  src: url("../../public/assets/DINCondensedLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "CoreSans45Regular";
  src: url("../../public/assets/Core-Sans-M-45-Regular-1.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "CoreSans35Light";
  src: url("../../public/assets/Core-Sans-M-35-Light.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "CoreSans55Medium";
  src: url("../../public/assets/Core-Sans-M-55-Medium.ttf");
  font-weight: 200;
  font-style: normal;
}
